[submodule "validation/frameworks/php-language-server"]
	path = validation/frameworks/php-language-server
	url = https://github.com/felixfbecker/php-language-server
[submodule "validation/frameworks/wordpress"]
	path = validation/frameworks/wordpress
	url = https://github.com/wordpress/wordpress
[submodule "validation/frameworks/drupal"]
	path = validation/frameworks/drupal
	url = https://github.com/drupal/drupal
[submodule "validation/frameworks/tolerant-php-parser"]
	path = validation/frameworks/tolerant-php-parser
	url = https://github.com/microsoft/tolerant-php-parser
[submodule "validation/frameworks/symfony"]
	path = validation/frameworks/symfony
	url = https://github.com/symfony/symfony
[submodule "validation/frameworks/math-php"]
	path = validation/frameworks/math-php
	url = https://github.com/markrogoyski/math-php
[submodule "validation/frameworks/codeigniter"]
	path = validation/frameworks/codeigniter
	url = https://github.com/bcit-ci/codeigniter
[submodule "validation/frameworks/cakephp"]
	path = validation/frameworks/cakephp
	url = https://github.com/cakephp/cakephp
[submodule "validation/frameworks/phpunit"]
	path = validation/frameworks/phpunit
	url = https://github.com/sebastianbergmann/phpunit
